<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Warning, ActivityTracing"
        propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="d:\work\project\mdt2.0\mdt.dataproducer.winformhost\app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="d:\work\project\mdt2.0\mdt.dataproducer.winformhost\app_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <appSettings>
    <add key="ClientId" value="2" />
  </appSettings>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="true" logMessagesAtTransportLevel="true" />
    </diagnostics>
    <services>
      <service name="MDT.DataProducer.ServiceImplement.DBMonitorService" behaviorConfiguration="MDTServiceBehaviors">
        <!--TCP/IP传输方式-->
        <!--<endpoint address="net.tcp://localhost:5001/MonitorService"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_IService"
                  contract="MDT.DataProducer.ServiceContract.IMonitorService" >
        </endpoint>-->
        <!--Http传输方式-->
        <endpoint binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_IService"
                  contract="MDT.DataProducer.ServiceContract.IMonitorService" >
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MonitorService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IService" closeTimeout="00:01:00" maxConnections="500"
                 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                 hostNameComparisonMode="StrongWildcard" maxBufferSize="52428800"
                 maxBufferPoolSize="524288" maxReceivedMessageSize="52428800" transferMode="Buffered">
          <readerQuotas maxDepth="32" maxStringContentLength="52428800" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
          <reliableSession enabled="false"/>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" closeTimeout="00:05:00"
         openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00"
         allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
         maxBufferSize="52428800" maxBufferPoolSize="524288" maxReceivedMessageSize="52428800"
         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
         useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="52428800" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--TCP/IP传输方式-->
      <!--<endpoint name="NetTcpBinding_IDataProducerCenterService"
                address="net.tcp://192.168.100.123:5007/DataProducerCenter"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
                contract="DataProducerCenter.IDataProducerCenterService" />
      <endpoint name="NetTcpBinding_IExchangeTraceService"
                address="net.tcp://192.168.100.123:5004/ExchangeTrace"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
                contract="ExchangeTrace.IExchangeTraceService" />
      <endpoint name="NetTcpBinding_IDataTransformService"
                address="net.tcp://192.168.100.123:5002/DataTransform"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
                contract="DataTransform.IDataTransformService" />-->
      <!--Http传输方式-->
      <endpoint name="BasicHttpBinding_IDataProducerCenterService"
                address="http://localhost/MDT.ManageCenterService/DataProducerCenter.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="DataProducerCenter.IDataProducerCenterService" />
      <endpoint name="BasicHttpBinding_IExchangeTraceService"
                address="http://localhost/MDT.ManageCenterService/TraceLogCenter.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="TraceLogCenter.ITraceLogCenterService"/>
      <endpoint name="BasicHttpBinding_IEmailCenterService"
                address="http://localhost/MDT.EmailCenterService/EmailCenter.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="EmailCenter.IEmailCenterService" />
      <endpoint name="BasicHttpBinding_IDataConsumerService"
                address="http://localhost/MDT.DataConsumerService/DataConsumer.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="DataConsumer.IDataConsumerService"  />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MDTServiceBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentInstances="6000" maxConcurrentCalls="6000" maxConcurrentSessions="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
