<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ClientId" value="1"/>
  </appSettings>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <system.serviceModel>
    <services>
      <service name="MDT.DataProducer.ServiceImplement.DBMonitorService" behaviorConfiguration="MDTServiceBehaviors">
        <endpoint binding="basicHttpBinding" 
                  bindingConfiguration="BasicHttpBinding_IService"
                  contract="MDT.DataProducer.ServiceContract.IMonitorService" >
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MonitorService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" closeTimeout="00:01:00"
         openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
         allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
         maxBufferSize="52428800" maxBufferPoolSize="524288" maxReceivedMessageSize="52428800"
         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
         useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="52428800" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="BasicHttpBinding_IDataProducerCenterService" address="http://192.168.101.50/DataProducerCenter" 
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" 
                contract="DataProducerCenter.IDataProducerCenterService" />
      <endpoint name="BasicHttpBinding_IDataTransformService" address="http://192.168.101.50/DataTransform" 
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" 
                contract="DataTransform.IDataTransformService" />
      <endpoint name="BasicHttpBinding_IExchangeTraceService" address="http://192.168.101.50/TraceLogCenter" 
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" 
                contract="TraceLogCenter.ITraceLogCenterService"/>
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MDTServiceBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
          <serviceThrottling maxConcurrentInstances="6000" maxConcurrentCalls="6000" maxConcurrentSessions="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
