<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--==========短信设置=========-->    
    <add key="sms_url" value="http://192.168.100.62/MDT.API.Common/ShortMessage.aspx"/>  
    <add key="phone_receiver" value=""/>  <!--手机号码 以逗号分隔  *-->

    <!--==========邮件设置=========-->    
    <add key="email_url" value="http://192.168.100.62/MDT.API.Common/Email.aspx"/>
    <add key="email_title" value="MDT服务停止"/>   
    <add key="email_receiver" value=""/> <!--邮件地址 以逗号分隔  * -->

    <!--==========公共设置=========-->        
    <add key="notice_type" value="1"/><!--发送监控信息方式 1邮件 2短信 3短信+邮件-->
    <add key="winservice_name" value="MDT DataProducerService 1.0"/>    
    <add key="scan_seconds" value="600"/> <!--默认每10分钟检查一次（单位:秒-->
    <add key="message" value="您好！MDT可能意外停止服务，请检查。MDT监控服务发送"/>
    <add key="max_stop_seconds" value="1200"/>
    <add key="secret" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="MDT_ConString" connectionString="Data Source=192.168.100.62;Initial Catalog=MDTManageCenterDB;Persist Security Info=True;User Id=sa;Password=123;"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
