<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="Cache Manager" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <system.serviceModel>
    <services>
      <service name="MDT.DataConsumer.ServiceImplement.DataConsumerService" behaviorConfiguration="MDTServiceBehaviors">
        <!--TCP/IP传输方式-->
        <!--<endpoint address="net.tcp://localhost:5003/DataConsumer"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_IService"
                  contract="MDT.DataConsumer.ServiceContract.IDataConsumerService">
        </endpoint>-->
        <!--Http传输方式-->
        <endpoint binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_IService"
                  contract="MDT.DataConsumer.ServiceContract.IDataConsumerService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MDT.DataConsumerService/DataConsumer.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IService" closeTimeout="00:01:00" maxConnections="200"
                 openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                 hostNameComparisonMode="StrongWildcard" maxBufferSize="52428800"
                 maxBufferPoolSize="524288" maxReceivedMessageSize="52428800" transferMode="Buffered">
          <readerQuotas maxDepth="32" maxStringContentLength="52428800" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
          <reliableSession enabled="false"/>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" closeTimeout="00:01:00"
         openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
         allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
         maxBufferSize="52428800" maxBufferPoolSize="524288" maxReceivedMessageSize="52428800"
         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
         useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="52428800" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--TCP/IP传输方式-->
      <!--<endpoint name="NetTcpBinding_IDataConsumerCenterService" 
                address="net.tcp://localhost:5008/DataConsumerCenter"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
                contract="DataConsumeHelper.IDataConsumerCenterService" />
      <endpoint name="NetTcpBinding_IExchangeTraceService" 
                address="net.tcp://localhost:5004/ExchangeTrace"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IService"
                contract="ExchangeTrace.IExchangeTraceService" />-->
      <!--Http传输方式-->
      <endpoint name="BasicHttpBinding_IDataConsumerCenterService" 
                address="http://localhost/MDT.ManageCenterService/DataConsumerCenter.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="DataConsumerCenter.IDataConsumerCenterService"/>
      <endpoint name="BasicHttpBinding_IExchangeTraceService" 
                address="http://localhost/MDT.ManageCenterService/TraceLogCenter.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="TraceLogCenter.ITraceLogCenterService"  />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MDTServiceBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentInstances="6000" maxConcurrentCalls="6000" maxConcurrentSessions="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>
</configuration>