<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        toAddress="wangkui@mic.cn;haojinguo@mic.cn;shaozhiqiang@mic.cn;chenfengling@mic.cn" fromAddress="mdtsys@mic.cn" subjectLineStarter="MDT"
        smtpServer="mail.mic.cn" formatter="Text Formatter" authenticationMode="UserNameAndPassword"
        userName="mdtsys@mic.cn" password="mdtsys" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Email Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Email Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="MDT.EmailCenter.ServiceImplement.EmailCenterService"  behaviorConfiguration="MDTServiceBehaviors">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="MDT.EmailCenter.ServiceContract.IEmailCenterService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MDT.EmailCenterService/EmailCenter.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" closeTimeout="00:01:00"
         openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
         allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
         maxBufferSize="52428800" maxBufferPoolSize="524288" maxReceivedMessageSize="52428800"
         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
         useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="52428800" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MDTServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="6000" maxConcurrentSessions="1000"
            maxConcurrentInstances="6000" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="sms_url" value="http://220.194.54.161:9010/index.aspx?action=sendsms"/>
    <add key="sms_uname" value="wuzhou2"/>
    <add key="sms_pwd" value="wuzhouzx"/>
    <add key="smtp_server_url" value="mail.mic.cn"/>
    <add key="smtp_uname" value="mdtsys@mic.cn"/>
    <add key="smtp_pwd" value="mdtsys"/>
    <add key="smtp_subject" value="MDT系统邮件"/>
  </appSettings>
  <connectionStrings>
    <add name="MDT_ConString" connectionString="Data Source=192.168.100.62;uid=sa;pwd=123;database=MDTManageCenterDB;"/>
  </connectionStrings>
</configuration>
