<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ManageCenterDBEntities" connectionString="metadata=res://*/ManageCenterDB.csdl|res://*/ManageCenterDB.ssdl|res://*/ManageCenterDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.0.0.58;User Id=dptuser;password=dptuser;Persist Security Info=True;database=mdt&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="ManageCenterDBEntities" connectionString="metadata=res://*/ManageCenterDB.csdl|res://*/ManageCenterDB.ssdl|res://*/ManageCenterDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.100.239;User Id=wzolmdt;password=wzolmdt;Persist Security Info=True;database=mdt&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="MDT.ManageCenter.ServiceImplement.TraceLogCenterService" behaviorConfiguration="MDTServiceBehaviors">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="MDT.ManageCenter.ServiceContract.ITraceLogCenterService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MDT.ManageCenterService/TraceLogCenter.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="MDT.ManageCenter.ServiceImplement.DbSchemaService"  behaviorConfiguration="MDTServiceBehaviors">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="MDT.ManageCenter.ServiceContract.IDbSchemaService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MDT.ManageCenterService/DbSchema.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="MDT.ManageCenter.ServiceImplement.ManageCenterService"  behaviorConfiguration="MDTServiceBehaviors">
        <endpoint binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="MDT.ManageCenter.ServiceContract.IManageCenterService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MDT.ManageCenterService/ManageCenter.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="MDT.ManageCenter.ServiceImplement.DataProducerCenterService"  behaviorConfiguration="MDTServiceBehaviors">
        <endpoint binding="basicHttpBinding" contract="MDT.ManageCenter.ServiceContract.IDataProducerCenterService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MDT.ManageCenterService/DataProducerCenter.svc"/>
          </baseAddresses>
        </host>
      </service>
      <service name="MDT.ManageCenter.ServiceImplement.DataConsumerCenterService"  behaviorConfiguration="MDTServiceBehaviors">
        <endpoint binding="basicHttpBinding" contract="MDT.ManageCenter.ServiceContract.IDataConsumerCenterService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/MDT.ManageCenterService/DataConsumerCenter.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" closeTimeout="00:01:00"
         openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
         allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
         maxBufferSize="52428800" maxBufferPoolSize="524288" maxReceivedMessageSize="52428800"
         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
         useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="52428800" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="BasicHttpBinding_IEmailService"
                address="http://localhost/MDT.EmailCenterService/EmailCenter.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
                contract="EmailCenter.IEmailCenterService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MDTServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceThrottling maxConcurrentCalls="6000" maxConcurrentSessions="1000"
            maxConcurrentInstances="6000" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
