<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="compression" type="DevExpress.Web.ASPxClasses.CompressionConfigurationSection, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="themes" type="DevExpress.Web.ASPxClasses.ThemesConfigurationSection, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
      <section name="errors" type="DevExpress.Web.ASPxClasses.ErrorsConfigurationSection, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false"/>
    </sectionGroup>
    <section name="systemConfig" type="System.Configuration.NameValueSectionHandler,Version=1.0.0.0, Culture=neutral" restartOnExternalChanges="true" allowDefinition="Everywhere" />
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="ManageCenterDBEntities" connectionString="metadata=res://*/ManageCenterDB.csdl|res://*/ManageCenterDB.ssdl|res://*/ManageCenterDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.100.205;User Id=wzolmdt;password=wzolmdt;Persist Security Info=True;database=mdt&quot;" providerName="System.Data.EntityClient" />
    <add name="MDT_ConString" connectionString="server=192.168.100.205;database=mdt;User Id=wzolmdt;Password=wzolmdt;Persist Security Info=True;" providerName="MySql.Data.MySqlClient"/>
    <add name="MOP_ConString" connectionString="server=192.168.100.205;database=mop;User Id=wzolmop;Password=wzolmop;Persist Security Info=True;" providerName="MySql.Data.MySqlClient"/>
    <add name="SCM_ConString" connectionString="server=192.168.100.205;database=mop;User Id=wzolmop;Password=wzolmop;Persist Security Info=True;" providerName="MySql.Data.MySqlClient"/>
    <add name="WMS_ConString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.100.66)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=wzol)));User Id=wzolwms;Password=wzolwms;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <systemConfig>
    <add key="top" value="Top.config"/>
    <add key="QQBuy" value="QQBuy.config"/>
    <add key="vjia" value="Vjia.config"/>
  </systemConfig>
  <appSettings>
    <!-->缓存时间 单位：秒-->
    <add key="CacheSecond" value="300"/>
    <add key="CommandTimeOut" value="300"/>
    <!-- 测试库连接 -->
    <!--<add key="SCM_ConString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.90.22)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=wzol)));User Id=oroscm;Password=Zwzybzj718;"/>-->
    <!--<add key="SCM_ConString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.100.206)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=wzol)));User Id=wzolmop;Password=wzolmop;"/>-->
    <!--OrderServiceURL、ApplicationName、ApplicationVersion 三个获取卓越订单时需要-->
    <add key="OrderServiceURL" value="https://mws.amazonservices.com.cn/Orders/2011-01-01"/>
    <add key="ApplicationName" value="MDT.API"/>
    <add key="ApplicationVersion" value="2.0"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="20"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <httpHandlers>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="10240" executionTimeout="300"/>
    <pages enableEventValidation="false">
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add type="DevExpress.Web.ASPxClasses.ASPxHttpHandlerModule, DevExpress.Web.v10.2, Version=10.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <!--商品下载-->
        <binding name="GetProductInfoServiceSoap" closeTimeout="00:01:00"
                   openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                   allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                   maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                   messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                   useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!--订单下载-->
        <binding name="GetOrderServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647"
              maxBytesPerRead="2147483647" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!--库存同步-->
        <binding name="StorageSyncServiceSoap" closeTimeout="00:01:00"
                   openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                   allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                   maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                   messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                   useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!--物流信息-->
        <binding name="SupplierSendGoodsConfirmSoap" closeTimeout="00:01:00"
                     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                     allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                     maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                     messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                     useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <!--订单确认-->
        <binding name="SupplierIsCanSendSkuServiceSoap" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IMOPService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--商品下载-->
      <endpoint address="http://sws2.vjia.com/swsms/GetProductInfoService.asmx" binding="basicHttpBinding" bindingConfiguration="GetProductInfoServiceSoap" contract="GetProductInfoServiceSoap" name="GetProductInfoServiceSoap" />
      <!--订单下载-->
      <endpoint address="http://sws2.vjia.com/swsms/GetOrderService.asmx" binding="basicHttpBinding" bindingConfiguration="GetOrderServiceSoap" contract="GetOrderServiceSoap" name="GetOrderServiceSoap" />
      <!--库存同步-->
      <endpoint address="http://sws2.vjia.com/swsms/StorageSyncService.asmx" binding="basicHttpBinding" bindingConfiguration="StorageSyncServiceSoap" contract="StorageSyncServiceSoap" name="StorageSyncServiceSoap" />
      <!--物流信息-->
      <endpoint address="http://sws2.vjia.com/swsms/SupplierSendGoodsConfirm.asmx" binding="basicHttpBinding" bindingConfiguration="SupplierSendGoodsConfirmSoap" contract="SupplierSendGoodsConfirmSoap" name="SupplierSendGoodsConfirmSoap" />
      <!--订单确认-->
      <endpoint address="http://sws2.vjia.com/swsms/SupplierIsCanSendSkuService.asmx" binding="basicHttpBinding" bindingConfiguration="SupplierIsCanSendSkuServiceSoap" contract="SupplierIsCanSendSkuServiceSoap" name="SupplierIsCanSendSkuServiceSoap" />
      
      <endpoint address="http://localhost:11354/MOPService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMOPService" contract="MOP.Service.IMOPService" name="BasicHttpBinding_IMOPService" />
    </client>
  </system.serviceModel>
  <devExpress>
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="false"/>
    <themes enableThemesAssembly="true"/>
    <errors callbackErrorRedirectUrl=""/>
  </devExpress>
</configuration>
