<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ApplicationName" value="MOP" />
    <add key="ApplicationVersion" value="3.0" />
    <add key="ServiceURL" value="https://mws.amazonservices.com.cn" />
    <add key="OrderServiceURL" value="https://mws.amazonservices.com.cn/Orders/2011-01-01" />
    <add key="ProductsServiceURL" value="https://mws.amazonservices.com.cn/Products/2011-10-01" />
    <add key="ApplicationName" value="30" />
  </appSettings>
  <ItemReportTime>
    <add key="E10000155" value="2013/5/10 18:19:40" />
  </ItemReportTime>
</configuration>