<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="pageSize" value="40"/>
    <add key="item" value="num_iid,props,title,cid,input_pids,input_str,num,price,outer_id,approve_status,item_img,sku,property_alias,pic_url"/>
    <add key="itemsOnsale" value="num_iid"/>
    <add key="itemsInventory" value="num_iid"/>
    <add key="tradesSoldIncrement" value="tid,status,created,pay_time,consign_time,end_time,modified"/>
    <add key="tradeAll" value="buyer_nick,created,tid,status,payment,discount_fee,adjust_fee,post_fee,total_fee,pay_time,end_time,modified,
                               consign_time,buyer_obtain_point_fee,point_fee,real_point_fee,received_payment,commission_fee,buyer_memo,
                               seller_memo,alipay_no,buyer_message,buyer_alipay_no,receiver_name,receiver_state,receiver_city,receiver_district,
                               receiver_address,receiver_zip,receiver_mobile,receiver_phone,buyer_email,available_confirm_fee,trade_memo,type,
                               cod_fee,invoice_name,shipping_type,express_agency_fee,buyer_cod_fee,trade_from,is_lgtype,is_brand_sale,
                               is_force_wlb,seller_memo,orders.num_iid,                               
                               orders.oid,orders.outer_iid,orders.outer_sku_id,orders.price,orders.num,orders.cid,orders.is_oversold,orders.iid,
                               orders.sku_id,orders.total_fee,orders.discount_fee,orders.adjust_fee,orders.status,orders.title,orders.pic_path,
                               orders.sku_properties_name"/>
    <add key="tradeType" value="guarantee_trade,auto_delivery,ec,cod,step"/>
    <add key="refund" value="refund_id,tid,title,buyer_nick,seller_nick,total_fee,status,created,refund_fee,oid,good_status,company_name,sid,
                             payment,reason,desc,has_good_return,modified,order_status"/>
    <add key="refundDetail" value="refund_id,alipay_no,tid,oid,num_iid,buyer_nick,seller_nick,total_fee,status,created,refund_fee,good_status,
                          has_good_return,payment,reason,desc,iid,title,price,num,good_return_time,company_name,sid,address,shipping_type,
                          refund_remind_timeout,modified"/>
    <add key="itemSku"  value="sku_id,num_iid,properties,quantity,price,outer_id,created,modified,status,extra_id,memo"/>
    <add key="fxItemIdList" value="pid"/>
    <add key="fxItemsGet" value="discount_id,trade_type,standard_price,category_id,name,properties,dealer_cost_price,pid,productcat_id,
                          cost_price,retail_price_low,retail_price_high,outer_id,quantity,alarm_number,pictures,desc_path,prov,city,postage_type,
                          postage_id,postage_ordinary,postage_fast,postage_ems,have_invoice,have_guarantee,status,items_count,orders_count,created,modified,skus"/>
    <add key="fxOrderIdList" value="id,status,created,modified,pay_time"/>
    <add key="TAOBAO_SELECT_ORDER" value="Select Tid, Status, Created, Modified
                                                      From Trade
                                                     Where  Shopid = :Shopid
                                                       And (Created &gt;= :Begintime And Created &lt;= :Endtime)
                                                    Union All
                                                    Select Tid ,Status ,Created ,Modified
                                                      From Top_Trade
                                                   Where  Shopid = :Shopid
                                                       And (Created &gt;= :Begintime And Created &lt;= :Endtime)
                                                       Union All
                                                    Select Tid ,Status ,Created ,Modified
                                                      From top_trade_except
                                                   Where  Shopid = :Shopid
                                                       And (Created &gt;= :Begintime And Created &lt;= :Endtime)"/>
  </appSettings>
</configuration>
