<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ManageCenterDBEntities" connectionString="metadata=res://*/ManageCenterDB.csdl|res://*/ManageCenterDB.ssdl|res://*/ManageCenterDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.0.0.58;User Id=dptuser;password=dptuser;Persist Security Info=True;database=mdt&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>